<div class="hero min-h-screen bg-base-200" data-theme="cyberpunk">
  <div class="hero-content text-center">
    <div class="max-w-md">

      <div class="mockup-code mb-8 text-left">
        <pre data-prefix="$"><code>iniciar --protocolo-escape</code></pre>
        <pre data-prefix=">" class="text-warning"><code>Acceso restringido...</code></pre>
        <pre data-prefix=">" class="text-success"><code>Cofre detectado. Introduce código.</code></pre>
      </div>

      <h1 class="text-5xl font-bold italic underline">
        EL MISTERIO DEL COFRE
      </h1>

      <p class="py-6">
        Tienes 30 minutos para descifrar los 3 dígitos
        antes de que el cofre se bloquee para siempre.
      </p>

      <!-- El tiempo y el audio YA NO están aquí -->
      <!-- Se mostrarán a partir del GameShell -->

      <button
        class="btn btn-primary btn-lg shadow-lg"
        routerLink="/laberinto"
      >
        COMENZAR DESAFÍO
      </button>

    </div>
  </div>
</div>
