<div class="hero min-h-screen bg-base-200" data-theme="cyberpunk">
  <div class="hero-content text-center">
    <div class="max-w-md">

      <div class="mockup-code mb-8 text-left">
        <pre data-prefix="$"><code>iniciar --protocolo-escape</code></pre>
        <pre data-prefix=">" class="text-warning"><code>Acceso restringido...</code></pre>
        <pre data-prefix=">" class="text-success"><code>Cofre detectado. Introduce código.</code></pre>
      </div>

      <h1 class="text-5xl font-bold italic underline">
        EL MISTERIO DEL COFRE
      </h1>

      <div class="mt-6 p-4 border border-dashed border-primary/40 rounded-lg bg-base-100/30">
      <p class="font-mono text-sm text-primary">
        📡 MENSAJE CIFRADO RECUPERADO
      </p>

      <p class="py-6 opacity-90 leading-relaxed">
        <strong>Hemos localizado un cofre con contenido desconocido.</strong><br><br>

        El sistema indica que solo puede abrirse descifrando<br>
        el código correcto.<br><br>

        Para esta misión han sido seleccionados <strong>dos operadores</strong>.<br>
        La apertura requiere coordinación, confianza<br>
        y avanzar en la misma dirección.<br><br>

        <span class="text-warning font-semibold">
          El protocolo se activa ahora.
        </span>
      </p>

    </div>


      <p class="py-6">
        Tenéis 15 minutos para descifrar los 3 dígitos
        antes de que el cofre se bloquee para siempre.
      </p>

      <!-- El tiempo y el audio YA NO están aquí -->
      <!-- Se mostrarán a partir del GameShell -->

      <button
        class="btn btn-primary btn-lg shadow-lg"
        routerLink="/laberinto"
      >
        COMENZAR DESAFÍO
      </button>

    </div>
  </div>
</div>
